.tree-cont {
  cursor: default;
}

.tree-obj-caption {
  cursor: pointer;
}

.tree-opened {
  display: none;
}

.tree-expand > .tree-opened {
  display: block;
}

.tree-expand > .tree-closed {
  display: none;
}

.tree-children {
  margin-left: 10px;
}

.tree-bullet {
  position: relative;
}

.tree-bullet > span {
  position: absolute;
  left: -0.7em;
}
